<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card>
  <ion-card-header>
    <ion-card-title>
      What do you want to do with the recyclable waste?
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-radio-group>
      <ion-item>
        <ion-label>I want to BUY it</ion-label>
        <ion-radio value="cord" slot="start"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>I want to SELL it</ion-label>
        <ion-radio value="Partner" slot="start"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-card-content>
 </ion-card>
 <ion-card>
  <ion-card-header>
    <ion-card-title>
      Contact
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-input type="text" label="Name" labelPlacement="floating" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" label="Email" labelPlacement="floating" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Password" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Confirm Password" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="tel" label="Phone Number" labelPlacement="floating" ></ion-input>
    </ion-item>
  </ion-card-content>
 </ion-card>
 <ion-card>
  <ion-card-header>
    <ion-card-title>
      Address Information
    </ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-input type="text" label="Address" labelPlacement="floating" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="tel" label="Number" labelPlacement="floating" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" label="Neighborhoood" labelPlacement="floating" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" label="Compliment" labelPlacement="floating" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="tel" label="Zipcode" labelPlacement="floating" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" label="State" labelPlacement="floating" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" label="City" labelPlacement="floating" ></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card-header>
</ion-card>
<ion-button size="full" color="light">Register</ion-button>
</ion-content>
