<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=" "></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup Call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://www.google.com/maps/vt/data=ULVibzWZcrfN27J8fhsxTh7REzofRBkGzV6Wh-K0Evc9mvUn-mmmiwdkdjtwLN2tjh5G7axkM0Lfj20TVxeBytqsEfPLc1x77q8Qd4vkbPCC9SSiJ_ZX0j1LgZ0FxhXhd3G2-Pi0T2vnJH633fs9IKmuaRHA--vVdf_RClsae02BaxeuTE6dtIcIC4pmGTDjpCZ7b0SfPxMJ7lhpz7ZYutg77En-RMqYDunp6hxIrE85Z1w_y_8ZotfHJ8JCX09I5TepyyEoyIndvwyCHmF_FdIIRKRXS3E" alt="">
  <ion-card>
    <ion-card-content>
      <p>Address: Chinnaswamy Mudaliar Road</p>
      <p>Complement: Apto 222</p>
      <p>Neighborhood: neighborhood</p>
      <p>Zipcode: 560051</p>
      <p>City Name : Bangalore</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="inset">
    <ion-item>

      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
<ion-button color="success" size="full">Create Pickup Call</ion-button>
  </ion-list>
</ion-content>
